@charset "utf-8";

/* general style */
body {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 18px;
}

a {
    color: #398ad5;
}

a:hover {
    color: #2771b5;
}

img {
    display: block;
    box-shadow: 0 0 .5rem #555;
    border-radius: 6px;
    margin: 1.5rem auto 1.6rem auto;
    max-width: 90%;
    height: auto;
    vertical-align: middle;
    -webkit-box-shadow: 0 0 .5rem #555;
}

/* headlines */
h1, h2, h3, h4, h5, h6 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    color: #2771b5;
}

h1 a, h2 a, h3 a, h4 a,
h5 a, h6 a {
    text-decoration: none;
}

h1 a:hover, h2 a:hover,
h3 a:hover, h4 a:hover {
    text-decoration: underline;
}

h1 {
    margin: 3.3rem 0 2.2rem 0;
    font-size: 1.7rem;
    width: 98%;
    line-height: 150%;
}

h2 {
    margin: 2.2rem 0 1.7rem 0;
    font-size: 1.4rem;
    width: 98%;
    line-height: 150%;
}

h3 {
    margin: 2.2rem 0 1.7rem 0;
    font-size: 1.3rem;
    width: 98%;
    line-height: 150%;
}

pre {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 80%;
    background-color: #FAFAFA;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 12px;
    line-height: 1.5;
    display: block;
    width: 100%;
    overflow: auto;
}

code {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
}

blockquote {
    border-left: 5px lightgrey solid;
    padding-left: 15px;
    margin-left: 20px;
    background: #f4f4f4;
}

/* navbar */
.navbar-light .navbar-brand {
    font-size: 1.67rem;
    color: #398ad5;
}
.navbar-light .navbar-brand:hover {
    color: #2771b5;
}

.navbar-light .navbar-nav .nav-link  {
    font-size: 1.28rem;
    color: #398ad5;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2771b5;
}

/* body */
div.box {
    max-width: 880px;
    margin: 3% auto;
}

/* footer */
div.footer {
    padding: 2.5rem ;
    font-size: .89rem;
    text-align: right;
    color: #7b8894;
}

div.footer p {
    margin: 0;
}

div.footer a {
    color: #7b8894;
}


/* blog overview */
div.home-body {

}

div.entry-overview {
    margin: 1.4rem 0 1.4rem 0;
}

div.entry-overview div.date {
    color: #7b8894;
    text-align: right;
    padding: .3rem 0 .3rem 0;
    font-size: .78rem;
}

div.entry-overview a {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    line-height: 140%;
    font-size: 1.3rem;
    color: #2771b5;
}

div.entry-overview span.summary {
    line-height: 140%;
    font-size: .95rem;
    color: #394856;
}

/* pagination */
div.pagination {
    margin: 2rem 0 0 0;
    text-align: center;
}

div.pagination strong {
    font-style: italic;
}

/* tags */
p.tags {
    text-align: right;
    margin-top: 35px;
}

ul.tagcloud {
    font-size: 16px;
    margin: 36px 0;
    padding: 0;
    list-style: none;
    line-height: 1.45;
    text-align: justify
}

ul.tagcloud li {
    margin: 0;
    padding: 0 10px;
    display: inline;
}
